body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

h3 {
  margin: 0 0 16px;
}

.Application {
  display: flex;
}

.Controls {
  border-right: 1px solid #333;
  padding: 16px;
}

.Navigation {
  border-bottom: 1px solid #333;
  margin: 0 0 16px;
  padding: 0 0 16px;
}

.Folder {
  list-style: none;
  margin: 0;
  padding: 0;
}
.Folder ul {
  padding: 0 16px;
}
.Folder-node {
  display: flex;
  padding: 4px 0;
}
.Folder-toggle {
  cursor: pointer;
  display: block;
  height: 16px;
  width: 16px;
}
.Folder-name {
  cursor: pointer;
  text-decoration: none;
}

.Folder-name:hover,
.Folder-name--selected {
  cursor: pointer;
  text-decoration: underline;
}

.Filters {
  flex: 1;
}
.Filters-input {
  align-items: center;
  display: flex;
}

.Main {
  flex: 1;
  padding: 16px;
}

.Content {
  display: flex;
  flex-wrap: wrap;
}

.Tile {
  border: 1px solid #333;
  border-radius: 2px;
  height: 100px;
  margin: 8px;
  padding: 8px;
  width: 100px;
}